* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
*/

body {
	line-height: 1.4;
	font-family: 'Poppins', sans-serif;
}

.primary {
	color: #66bfbf;
	font-family: 'Lobster Two', cursive;
	font-size: 50px;
	padding: 10px;
	margin: 10px;
}

hr {
	width: 100px;
	border: 7px dotted rgba(128, 128, 128, 0.555);
	border-top: none;
}

@mixin centerColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin centerRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

section.mainTop {
	height: 100vh;
	background-color: #eaf6f6;
	padding-top: 30px;
	@include centerColumn();

	.container {
		margin: 0 auto;
		max-width: 900px;

		.heading {
			font-family: 'Lobster Two', cursive;
			color: #66bfbf;
			@include centerColumn();
			h1 {
				font-size: 70px;
			}
			p {
				font-size: 30px;
				span {
					text-decoration: underline;
				}
			}
		}

		.cloud1 {
			@include centerColumn();
			align-items: flex-end;
			top: 100px;
		}

		.cloud-img {
			width: 130px;
			padding: 10px;
		}
		.mountainImg {
			display: flex;
			justify-content: center;
			align-items: center;
			.mount-img {
				width: 90%;
				padding: 10px;

				@media screen and (min-width: 600px) {
					width: 70%;
					padding: 10px;
				}
			}
		}
	}
}

// main ends

section.profileTwo {
	padding: 30px 0px;
	background-color: white;
	@include centerColumn();
	text-align: center;

	.profile-img {
		width: 200px;
		border-radius: 100px;
	}
	.profileText {
		h1 {
			font-size: 50px;
			padding: 10px;
			margin: 10px;
			font-family: 'Lobster Two', cursive;
		}
		p {
			font-size: 20px;
			padding: 10px;
			margin: 10px;
		}
		margin: 0 auto;
		max-width: 500px;
	}
}

// profile ends

// skills starts

section.skillsThree {
	@include centerColumn();
	padding: 20px;
	img {
		width: 100px;
	}

	.skill1,
	.skill2 {
		@include centerRow();
		margin: 20px auto;
		max-width: 700px;

		h3,
		p {
			//       padding: 10px;
			margin: 10px;
		}
	}
}

// contact section starts
section.contact {
	padding: 20px;
	text-align: center;
	margin: 20px auto;
	max-width: 700px;
	@include centerColumn();
	p.primary {
		font-size: 30px;
	}

	.contactMeBtn {
		margin-top: 50px;

		a {
			text-decoration: none;
			background-color: #66bfbf;
			padding: 10px 15px;
			color: white;
			border-radius: 10px;
			text-transform: uppercase;
		}
	}
}

// footer starts

footer {
	height: 10vh;
	background-color: #66bfbf;
	color: white;
	@include centerColumn();
	.container {
		@include centerRow();
	}
	a {
		color: #11999e;
		font-size: 20px;
		padding: 0px 20px;
		text-decoration: none;
	}
}
